name: Tests

on: [push, fork]

jobs:

  Functional:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
      - name: 'Define Image name'
        run: |
          image_name=${{ github.repository }}
          image_name=$(echo "$image_name" | cut -f2 -d"/" | tr '[:upper:]' '[:lower:]')
          echo "image_name=$image_name" >> "$GITHUB_ENV"
      - name: 'Build image'
        run: |
          docker build . --file Dockerfile --tag ${{ env.image_name }} --label "runnumber=${GITHUB_RUN_ID}"
      - name: 'Run test'
        run: |
          docker run --rm -v "$PWD":"$PWD" -t --workdir "$PWD" --entrypoint /usr/bin/make ${{ env.image_name }} test

  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_DOCKERFILE_HADOLINT: false
          VALIDATE_LATEX: false
          VALIDATE_JSCPD: false
          VALIDATE_CPP: false
          VALIDATE_CLANG_FORMAT: false
          FILTER_REGEX_EXCLUDE: "./lib/.*"
          DEFAULT_BRANCH: ${{ github.ref }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
